.ocean
  .jelly-wrap
    .jelly.intro
      .eye
      .eye
      span.tentacle
      span.tentacle
      span.tentacle
      span.tentacle
      
.bubble-wrap
  span.bubble
  span.bubble
  span.bubble 
  span.bubble